<footer class="footer">

  <div class="footer__button">
    <a href="#header" title="Anonymous Proxy top page">
      <img src="./assets/images/ico-arrow.svg" title="Go to the top arrow" alt="Arrow">
    </a>
  </div>

  
  <nav class="footer__menu1">
    <ul class="footer__events">
        <li><a class="footer__link" href="https://adalab.es/" title="Go to articles">Articles</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Go to books">Books</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Go to events">Events</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Go to reasons">Reasons</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Go to tips">Tips</a></li>
      </ul>
    </nav>
 <nav class="footer__menu2">   
 <ul class="footer__rrss">
        <li><a class="footer__link" href="https://adalab.es/" title="Go to Twitter">Twitter</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Go to Instagram">Instagram</a></li> 
        <li><a class="footer__link" href="https://adalab.es/" title="Go to Mastodon">Mastodon.Social</a></li>
      </ul>
    </nav> 

      <ul class="footer__copy">
        <small class=""footer__2017>&copy;2017</small>
        <small>we <span class="heart">&#10084</span> components</small>
      </ul>

      </footer>
