<footer class="footer">

  <div class="footer__button">
    <a href="">
      <img src="./assets/images/ico-arrow.svg">
    </a>
  </div>

  
  
    <ul class="footer__events">
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
      
 <ul class="footer__rrss">
        <li>Twitter</li>
        <li>Instagram</li> 
        <li>Mastodon.Social</li>
      </ul>

      <ul class="footer__copy">
        <small>&copy;2017</small>
        <small>we <span class="heart">&#10084</span> components</small>
      </ul>

      </footer>
