<footer class="footer">

  <div class="footer__button">
    <a href="#header" title="Anonymous Proxy top page">
      <img src="./assets/images/ico-arrow.svg" title="Go to the top arrow">
    </a>
  </div>

  
  
    <ul class="footer__events">
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Articles</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Books</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Events</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Reasons</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Tips</a></li>
      </ul>
      
 <ul class="footer__rrss">
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Twitter</a></li>
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Instagram</a></li> 
        <li><a class="footer__link" href="https://adalab.es/" title="Adalab web page">Mastodon.Social</a></li>
      </ul>

      <ul class="footer__copy">
        <small>&copy;2017</small>
        <small>we <span class="heart">&#10084</span> components</small>
      </ul>

      </footer>
