<header class="header">
  
<div class="header__menu">
    <a href="https://adalab.es/" title="Adalab web page">
      <img  src="./assets/images/ico-menu.svg" title="Navigation menu" alt="Nav menu">
      </a>
  </div>

  
    <div class="header__title">
    <h1 class="header__h1">Anonymous Proxy</h1>
<p class="quote">In hac habitasse platea dictumst</p>
</div>



  <div class="header__button">
      <a href= "#reasons" title="Go to 3 Reasons To Purchase">
        <img src="./assets/images/ico-scroll-down.svg" title="Scroll down" alt="Scroll down"></a>  
  </div>

</header>
