<main>
<section class="section2">

  <h2 class="section2__title">3 reasons to Purchase</h2>

  <div class="wrapper">
<article class="article art1">
  <h3 class="article-title">Ut sed metus</h3>
  <p class="section2__p">Lorem ipsum dolor sit amet,consecteur.</p>
    </article>
   
    <article class="article art2">
  <h3 class="article-title">Curabitur ac erat</h3>
  <p class="section2__p">Mauris mattis urna quis lorem molestie.</p>
</article>

<article class="article art3">
  <h3 class="article-title">Morbi dictumst</h3>
  <p class="section2__p">Aliquam in dolor et dolor tincidunt.</p>
</article>
</div>

<button class="section2__button">More reasons</button>

</section>





  