<section>
  <article>
<small>Insomnia tips</small>
<h2>Looking through a window</h2>
<p>Donec accumsan, nulla ut vu volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lecturs. Vivamus semper sodales rutrum</p>
</article>
<button>Go</button>
</section>

<section>
  <article>
<h2>3 reasons to Purchase</h2>
<h3>Ut sed metus</h3>
Lorem ipsum dolor sit amet,consecteur.

<h3>Curabitur ac erat</h3>
<p>Mauris mattis urna quis lorem molestie.</p>

<h3>Morbi dictumst</h3>
<p>Aliquam in dolor et dolor tincidunt.</p>

</article>
More reasons
</section>
