// fonts
$fontTitle:'Roboto Slab', serif;
$fontText:'Roboto', sans-serif;
$fontButton: 'Roboto', sans-serif;
// colors

$colorFooter:#304268;
$colorMenu:#0271bc;
$colorButton:#f26002;
$colorSection:#8ccbea;





