
.header {
  width: 100%;
  height: 100vh;
  max-height: 568px;
  @media all and (min-width:768px) {
    max-height:768px;
  }
  @media all and (min-width:1200px) {
    max-height:768px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image:url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;

  
  
  &__menu {
    align-self:flex-start;
    position:fixed;
    background-color:$colorMenu;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

  }
  &__title {
    display:flex;
    flex-direction:column;
    padding: 250px 15px 174px 15px;
    @media all and (min-width:768px) {
      padding: 150px 15px 174px 15px;
    }
    @media all and (min-width:1200px) {
      padding: 250px 15px 174px 15px;
    }
    line-height: 1.31;
    color:white;
    text-align: center;
    font-family:$fontTitle;
    text-transform: uppercase;
    @media all and (min-width:1200px) {
      width:730px;
    }
  }
  
  & .header__h1 {
    font-size:42px;
    @media all and (min-width:768px) {
      font-size:80px;
    }
    @media all and (min-width:1200px) {
      font-size:100px;
    }
  }
  
    & .quote {
      padding-top:10px;
      text-transform: capitalize;
      font-family:$fontText;
      font-size:16px;
      @media all and (min-width:768px) {
        font-size:24px;
      }
    }
    
  

   &__button {
    width: 45px;
    height:45px;
    position:absolute;
    bottom: 50px;
    @media all and (min-width:1200px) {
      bottom: 10px;
    }
    background-color: white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22.5px;
    
   }
  
  }

   


  
