
.header {
  width: 100%;
  height: 100vh;
  max-height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:solid 2px black;
  background-image:url(../../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  
  
  &__menu {
    align-self:flex-start;
    position:fixed;
    border: solid 3px red;
    width: 44px;
    height: 44px;
    background-image:url(../../images/icons/ico-menu.svg);
  }
  &__title {
    position:relative;
    top: 70px;
    color:black;
    text-align: center;

   &__button {
    position: relative;
    top: -40px;
   }
  
  }
   
}


