
.section2 {
    width:100%;
    height:624px;
    background-color:$colorSection;
    
    
    
    &__title {
        font-family:$fontTitle;
        font-size:24px;
        text-align: center;
        padding: 30px 15px 45px 15px;
    }

        &__button {
            width:184px;
            height:45px;
            background-color:$colorButton;
            border-radius: 22.5px;
            font-family:$fontButton;
            font-size:20px;
            color:$colorTextheader;
            border:none;
            position:relative;
            top: 30px;
            left:70px;
            
                   
        }
    }

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
   
   
}

.article {
  color:$colorTextarticles;
  text-align: center;
  font-size:18px;
}

.article.art1 {
    padding: 30px;   
}

.article.art2 {
    padding: 30px; 
}

.article.art3 {
    padding: 30px; 
    
}

.section2__p {
    font-size:18px;  
}

.article-title {
    font-family:$fontTitle;
    font-size:18px;
}








