.section1 {
    height: 376px;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px 15px 45px 15px;



    &__h5 {
        font-family:$fontText;
        text-transform: capitalize;
        color: #8ccbea;
        font-size: 14px;

    }
    &__h2 {
        font-family:$fontTitle;
        width:300px;
        text-transform: capitalize;
    }
    &__p {
        width:250px;
    }
}